[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
boto3-type-annotations = "*"
jsonlines = "*"
psycopg2-binary = "*"
toml = "*"
aws-lambda-powertools = "*"

[dev-packages]
flake8 = "*"
ipython = "*"
isort = "*"
jsonschema = "*"
moto = "*"
pytest = "*"

[requires]
python_version = "3.10"
